body {
    font-family:chess;
    margin: 0;
    background-color: black
}
.square {
    background:#afa;
    display:inline-block;
    border:1px solid black;
    text-align:center;
    position: absolute;
    cursor: pointer;
}
